.signup__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.5);

  .signup__content {
    position: relative;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    h1 {
      margin-bottom: 30px;
      font-size: 30px;
    }

    .form {
      width: 400px;
      background: #fff;

      .form-item {
        position: relative;
        margin: 15px 0;

        &.error {
          input {
            outline: 2px solid red;
            &:focus {
              outline-color: red;
            }
          }
          label {
            color: red !important;
          }
        }

        input {
          display: block;
          width: 100%;
          background: transparent;
          border: 1px solid #ccc;
          padding: 30px 15px 10px;
          font-size: 16px;

          &:focus {
            outline: 2px solid #1d9bf0;
          }

          &:focus + label,
          &.focus + label {
            top: 10px;
            transform: translateY(0);
            font-size: 13px;
          }
          &:focus + label {
            color: #1d9bf0;
          }
        }

        label {
          position: absolute;
          cursor: text;
          z-index: 2;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          color: #999;
          transition: all 0.3s ease;
        }
      }
    }
    .form-error {
      font-size: 13px;
      color: red;
    }

    .form-btn {
      margin-top: 50px;
      padding: 10px;
      width: 100%;
      font-size: 18px;
      color: #fff;
      background-color: #87898c;
      border-radius: 50px;
    }
  }

  .signup__close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
    &:hover {
      background-color: #f2f2f2;
    }
  }
}
