.main__container {
  max-width: 920px;
  min-width: 920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
}

.side__container {
  width: 300px;
  flex-basis: auto;
  flex-shrink: 0;

  h1 {
    margin: 10px;
    font-size: 35px;
    color: #1d9bf0;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      border-radius: 50px;
      &:hover {
        background-color: #d6d6d6;
      }
    }
  }
}

.content__container {
  padding: 0px 0px 0;
  flex: 0 0 600px;
  border: 1px solid #eff3f4;
}

.no_icon {display:flex;width:50px;height:50px;align-items: center; background-color: #1d9bf0; border-radius: 50%; justify-content: center; font-size: 30px; color:#fff; font-weight: bold; text-transform: capitalize;}
.common_h2 {padding:30px 20px;font-weight: bold; font-size:24px;}