.main__container {
  max-width: 920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
  height: 1500px;

  .content__container {
    flex: 1 1 auto;
    flex-basis: auto;
    flex-shrink: 0;
    border: 1px solid #eff3f4;
  }

  /*----------로그인영역----------*/
  .auth__container {
    width: 300px;
    flex-basis: auto;
    flex-shrink: 0;

    .auth__box {
      position: sticky;
      top: 12px;
      left: 0;
      padding: 15px;
      border-radius: 15px;
      border: 1px solid #eff3f4;

      h2 {
        font-size: 22px;
        font-weight: bold;
      }
      p {
        margin: 15px 0;
        font-size: 13px;
        color: #536471;
        line-height: 1.2;
      }
      .auth__list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          font-size: 15px;
          border: 1px solid #cfd9de;
          border-radius: 15px;

          &:hover {
            background-color: #f8faff;
          }

          svg {
            margin-right: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
